backend_mo/src/main/resources/xsd/AliasStation.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema targetNamespace="http://xml.avaya.com/sms" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://xml.avaya.com/sms" >
<xsd:include schemaLocation="./ArrayType.xsd"/>
	<xsd:complexType name="AliasStationType">
		<xsd:sequence>
			<xsd:element name="Alias" type="xsd:string" minOccurs="0" maxOccurs="1"/>
			<xsd:element name="Supported_Type" type="xsd:string" minOccurs="0" maxOccurs="1"/>
		</xsd:sequence>
	</xsd:complexType>
</xsd:schema>
