backend_mo/src/main/resources/xsd/Capacity.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema targetNamespace="http://xml.avaya.com/sms" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://xml.avaya.com/sms" >
<xsd:include schemaLocation="./ArrayType.xsd"/>
	<xsd:group name="CapacityArrayGroup">
		<xsd:sequence>
			<xsd:element name="Current_Reg_ID" type="arrayType" minOccurs="0" maxOccurs="unbounded"/>
			<xsd:element name="Current_Reg_Rel" type="arrayType" minOccurs="0" maxOccurs="unbounded"/>
			<xsd:element name="Current_Reg_Regist" type="arrayType" minOccurs="0" maxOccurs="unbounded"/>
			<xsd:element name="Current_Reg_Avail" type="arrayType" minOccurs="0" maxOccurs="unbounded"/>
			<xsd:element name="Current_Reg_Sys_Lim" type="arrayType" minOccurs="0" maxOccurs="unbounded"/>
		</xsd:sequence>
	</xsd:group>
	<xsd:complexType name="CapacityType">
		<xsd:sequence>
			<xsd:element name="Current_Sys_Mem_Config" type="xsd:string" minOccurs="0" maxOccurs="1"/>
			<xsd:element name="Aar_Ars_Patterns_Used" type="xsd:string" minOccurs="0" maxOccurs="1"/>
			<xsd:element name="Aar_Ars_Patterns_Aval" type="xsd:string" minOccurs="0" maxOccurs="1"/>
			<xsd:element name="Aar_Ars_Pattrn_Sys_Lim" type="xsd:string" minOccurs="0" maxOccurs="1"/>
			<xsd:element name="Aar_Ars_IDS_Used" type="xsd:string" minOccurs="0" maxOccurs="1"/>
			<xsd:element name="Aar_Ars_IDS_Aval" type="xsd:string" minOccurs="0" maxOccurs="1"/>
			<xsd:element name="Aar_Ars_IDS_Sys_Limit" type="xsd:string" minOccurs="0" maxOccurs="1"/>
			<xsd:element name="AD_Entries_Used" type="xsd:string" minOccurs="0" maxOccurs="1"/>
			<xsd:element name="AD_Entries_Aval" type="xsd:string" minOccurs="0" maxOccurs="1"/>
			<xsd:element name="AD_Entries_Sys_Limit" type="xsd:string" minOccurs="0" maxOccurs="1"/>
			<xsd:element name="AD_Pers_Lists_Used" type="xsd:string" minOccurs="0" maxOccurs="1"/>
			<xsd:element name="AD_Pers_Lists_Aval" type="xsd:string" minOccurs="0" maxOccurs="1"/>
			<xsd:element name="AD_Pers_Lists_Sys_Limit" type="xsd:string" minOccurs="0" maxOccurs="1"/>
			<xsd:element name="ASAI_ACont_Assoc_Used" type="xsd:string" minOccurs="0" maxOccurs="1"/>
			<xsd:element name="ASAI_ACont_Assoc_Aval" type="xsd:string" minOccurs="0" maxOccurs="1"/>
			<xsd:element name="ASAI_ACont_Assoc_Sys_Lim" type="xsd:string" minOccurs="0" maxOccurs="1"/>
			<xsd:element name="ASAI_Notif_Req_Used" type="xsd:string" minOccurs="0" maxOccurs="1"/>
			<xsd:element name="ASAI_Notif_Req_Aval" type="xsd:string" minOccurs="0" maxOccurs="1"/>
			<xsd:element name="ASAI_Notif_Req_SysLimit" type="xsd:string" minOccurs="0" maxOccurs="1"/>
			<xsd:element name="ASAI_SAACC_Used" type="xsd:string" minOccurs="0" maxOccurs="1"/>
			<xsd:element name="ASAI_SAACC_Aval" type="xsd:string" minOccurs="0" maxOccurs="1"/>
			<xsd:element name="ASAI_SAACC_Sys_Limit" type="xsd:string" minOccurs="0" maxOccurs="1"/>
			<xsd:element name="Attendant_Pos_Used" type="xsd:string" minOccurs="0" maxOccurs="1"/>
			<xsd:element name="Attendant_Pos_Aval" type="xsd:string" minOccurs="0" maxOccurs="1"/>
			<xsd:element name="Attendant_Pos_Sys_Lim" type="xsd:string" minOccurs="0" maxOccurs="1"/>
			<xsd:element name="Attendant_Queue_Len_Used" type="xsd:string" minOccurs="0" maxOccurs="1"/>
			<xsd:element name="Attendant_Queue_Len_Aval" type="xsd:string" minOccurs="0" maxOccurs="1"/>
			<xsd:element name="Attndant_Que_Len_Sys_Lim" type="xsd:string" minOccurs="0" maxOccurs="1"/>
			<xsd:element name="Attndant_Stat_But_Usd" type="xsd:string" minOccurs="0" maxOccurs="1"/>
			<xsd:element name="Attndant_Stat_But_Avl" type="xsd:string" minOccurs="0" maxOccurs="1"/>
			<xsd:element name="Atndt_Stat_But_Sys_Lim" type="xsd:string" minOccurs="0" maxOccurs="1"/>
			<xsd:element name="Auth_Codes_Used" type="xsd:string" minOccurs="0" maxOccurs="1"/>
			<xsd:element name="Auth_Codes_Aval" type="xsd:string" minOccurs="0" maxOccurs="1"/>
			<xsd:element name="Auth_Codes_Sys_Limit" type="xsd:string" minOccurs="0" maxOccurs="1"/>
			<xsd:element name="BCMS_Meas_Agents_Used" type="xsd:string" minOccurs="0" maxOccurs="1"/>
			<xsd:element name="BCMS_Meas_Agents_Aval" type="xsd:string" minOccurs="0" maxOccurs="1"/>
			<xsd:element name="BCMS_Meas_Agents_SysLim" type="xsd:string" minOccurs="0" maxOccurs="1"/>
			<xsd:element name="BCMS_Meas_ACDm_Used" type="xsd:string" minOccurs="0" maxOccurs="1"/>
			<xsd:element name="BCMS_Meas_ACDm_Aval" type="xsd:string" minOccurs="0" maxOccurs="1"/>
			<xsd:element name="BCMS_Meas_ACDm_Sys_Limit" type="xsd:string" minOccurs="0" maxOccurs="1"/>
			<xsd:element name="BCMS_Split_Skills_Used" type="xsd:string" minOccurs="0" maxOccurs="1"/>
			<xsd:element name="BCMS_Split_Skills_Aval" type="xsd:string" minOccurs="0" maxOccurs="1"/>
			<xsd:element name="BCMS_Split_Skl_Sys_Lim" type="xsd:string" minOccurs="0" maxOccurs="1"/>
			<xsd:element name="BCMS_Meas_VDNS_Used" type="xsd:string" minOccurs="0" maxOccurs="1"/>
			<xsd:element name="BCMS_Meas_VDNS_Aval" type="xsd:string" minOccurs="0" maxOccurs="1"/>
			<xsd:element name="BCMS_Meas_VDNS_Sys_Limit" type="xsd:string" minOccurs="0" maxOccurs="1"/>
			<xsd:element name="Call_Cov_Ans_Group_Used" type="xsd:string" minOccurs="0" maxOccurs="1"/>
			<xsd:element name="Call_Cov_Ans_Group_Aval" type="xsd:string" minOccurs="0" maxOccurs="1"/>
			<xsd:element name="Call_Cov_Ans_Grp_Sys_Lim" type="xsd:string" minOccurs="0" maxOccurs="1"/>
			<xsd:element name="Call_Cov_Path_Used" type="xsd:string" minOccurs="0" maxOccurs="1"/>
			<xsd:element name="Call_Cov_Path_Aval" type="xsd:string" minOccurs="0" maxOccurs="1"/>
			<xsd:element name="Call_Cov_Path_Sys_Limit" type="xsd:string" minOccurs="0" maxOccurs="1"/>
			<xsd:element name="Call_Cov_Pckp_Grp_Used" type="xsd:string" minOccurs="0" maxOccurs="1"/>
			<xsd:element name="Call_Cov_Pckp_Grp_Aval" type="xsd:string" minOccurs="0" maxOccurs="1"/>
			<xsd:element name="Call_Cov_Pkp_Grp_Sy_Lim" type="xsd:string" minOccurs="0" maxOccurs="1"/>
			<xsd:element name="Call_Records_Sys_Limit" type="xsd:string" minOccurs="0" maxOccurs="1"/>
			<xsd:element name="Total_VDN_Used" type="xsd:string" minOccurs="0" maxOccurs="1"/>
			<xsd:element name="Total_VDN_Aval" type="xsd:string" minOccurs="0" maxOccurs="1"/>
			<xsd:element name="Total_VDN_Sys_Limit" type="xsd:string" minOccurs="0" maxOccurs="1"/>
			<xsd:element name="Meet_Me_VDN_Used" type="xsd:string" minOccurs="0" maxOccurs="1"/>
			<xsd:element name="Meet_Me_VDN_Aval" type="xsd:string" minOccurs="0" maxOccurs="1"/>
			<xsd:element name="Meet_Me_VDN_Sys_Limit" type="xsd:string" minOccurs="0" maxOccurs="1"/>
			<xsd:element name="Meet_Me_Conf_Ports_Used" type="xsd:string" minOccurs="0" maxOccurs="1"/>
			<xsd:element name="Meet_Me_Conf_Ports_Aval" type="xsd:string" minOccurs="0" maxOccurs="1"/>
			<xsd:element name="Meet_Me_Cnf_Port_Sys_Lim" type="xsd:string" minOccurs="0" maxOccurs="1"/>
			<xsd:element name="Total_Vectors_Used" type="xsd:string" minOccurs="0" maxOccurs="1"/>
			<xsd:element name="Total_Vectors_Aval" type="xsd:string" minOccurs="0" maxOccurs="1"/>
			<xsd:element name="Total_Vectors_Sys_Limit" type="xsd:string" minOccurs="0" maxOccurs="1"/>
			<xsd:element name="Meet_Me_Vectors_Used" type="xsd:string" minOccurs="0" maxOccurs="1"/>
			<xsd:element name="Meet_Me_Vectors_Aval" type="xsd:string" minOccurs="0" maxOccurs="1"/>
			<xsd:element name="Meet_Me_Vectors_Sys_Limit" type="xsd:string" minOccurs="0" maxOccurs="1"/>
			<xsd:element name="BSR_App_Loc_Pairs_Used" type="xsd:string" minOccurs="0" maxOccurs="1"/>
			<xsd:element name="BSR_App_Loc_Pairs_Aval" type="xsd:string" minOccurs="0" maxOccurs="1"/>
			<xsd:element name="BSR_App_Loc_Pairs_Sys_Lim" type="xsd:string" minOccurs="0" maxOccurs="1"/>
			<xsd:element name="Back_BSR_Poll_VDN_Used" type="xsd:string" minOccurs="0" maxOccurs="1"/>
			<xsd:element name="Back_BSR_Poll_VDN_Aval" type="xsd:string" minOccurs="0" maxOccurs="1"/>
			<xsd:element name="Back_BSR_Poll_VDN_Sys_Lim" type="xsd:string" minOccurs="0" maxOccurs="1"/>
			<xsd:element name="Administered_Cons_Used" type="xsd:string" minOccurs="0" maxOccurs="1"/>
			<xsd:element name="Administered_Cons_Aval" type="xsd:string" minOccurs="0" maxOccurs="1"/>
			<xsd:element name="Administered_Cons_Sys_Lim" type="xsd:string" minOccurs="0" maxOccurs="1"/>
			<xsd:element name="Alpha_Dial_Entries_Used" type="xsd:string" minOccurs="0" maxOccurs="1"/>
			<xsd:element name="Alpha_Dial_Entries_Aval" type="xsd:string" minOccurs="0" maxOccurs="1"/>
			<xsd:element name="Alpha_Dial_Ent_Sys_Lim" type="xsd:string" minOccurs="0" maxOccurs="1"/>
			<xsd:element name="Dial_Plan_Ext_Used" type="xsd:string" minOccurs="0" maxOccurs="1"/>
			<xsd:element name="Dial_Plan_Ext_Aval" type="xsd:string" minOccurs="0" maxOccurs="1"/>
			<xsd:element name="Dial_Plan_Ext_Sys_Limit" type="xsd:string" minOccurs="0" maxOccurs="1"/>
			<xsd:element name="Misc_Dial_Plan_Ext_Used" type="xsd:string" minOccurs="0" maxOccurs="1"/>
			<xsd:element name="Misc_Dial_Plan_Ext_Aval" type="xsd:string" minOccurs="0" maxOccurs="1"/>
			<xsd:element name="Misc_Dl_Pln_Ex_Sys_Lim" type="xsd:string" minOccurs="0" maxOccurs="1"/>
			<xsd:element name="UDP_Ext_Recores_Used" type="xsd:string" minOccurs="0" maxOccurs="1"/>
			<xsd:element name="UDP_Ext_Recores_Aval" type="xsd:string" minOccurs="0" maxOccurs="1"/>
			<xsd:element name="UDP_Ext_Recores_Sys_Limit" type="xsd:string" minOccurs="0" maxOccurs="1"/>
			<xsd:element name="Digital_Data_End_Used" type="xsd:string" minOccurs="0" maxOccurs="1"/>
			<xsd:element name="Digital_Data_End_Aval" type="xsd:string" minOccurs="0" maxOccurs="1"/>
			<xsd:element name="Dig_Data_End_Sys_Lim" type="xsd:string" minOccurs="0" maxOccurs="1"/>
			<xsd:element name="Exp_Port_Net_Used" type="xsd:string" minOccurs="0" maxOccurs="1"/>
			<xsd:element name="Exp_Port_Net_Aval" type="xsd:string" minOccurs="0" maxOccurs="1"/>
			<xsd:element name="Exp_Port_Net_Sys_Limit" type="xsd:string" minOccurs="0" maxOccurs="1"/>
			<xsd:element name="Facility_Busy_Ind_Used" type="xsd:string" minOccurs="0" maxOccurs="1"/>
			<xsd:element name="Facility_Busy_Aval" type="xsd:string" minOccurs="0" maxOccurs="1"/>
			<xsd:element name="Faclty_Bsy_Ind_Sys_Lim" type="xsd:string" minOccurs="0" maxOccurs="1"/>
			<xsd:element name="Group_Spit_Skills_Used" type="xsd:string" minOccurs="0" maxOccurs="1"/>
			<xsd:element name="Group_Spit_Skills_Aval" type="xsd:string" minOccurs="0" maxOccurs="1"/>
			<xsd:element name="Group_Spit_Skills_Sys_Limit" type="xsd:string" minOccurs="0" maxOccurs="1"/>
			<xsd:element name="Admin_Log_Age_Used" type="xsd:string" minOccurs="0" maxOccurs="1"/>
			<xsd:element name="Admin_Log_Age_Aval" type="xsd:string" minOccurs="0" maxOccurs="1"/>
			<xsd:element name="Admin_Log_Age_Sys_Limit" type="xsd:string" minOccurs="0" maxOccurs="1"/>
			<xsd:element name="Admin_Log_Age_Skill_Used" type="xsd:string" minOccurs="0" maxOccurs="1"/>
			<xsd:element name="Admin_Log_Age_Skill_Aval" type="xsd:string" minOccurs="0" maxOccurs="1"/>
			<xsd:element name="Admin_Log_Age_Skl_Sys_Lim" type="xsd:string" minOccurs="0" maxOccurs="1"/>
			<xsd:element name="Logged_In_ACDs_Used" type="xsd:string" minOccurs="0" maxOccurs="1"/>
			<xsd:element name="Logged_In_ACDs_Aval" type="xsd:string" minOccurs="0" maxOccurs="1"/>
			<xsd:element name="Logged_In_ACDs_Sys_Limit" type="xsd:string" minOccurs="0" maxOccurs="1"/>
			<xsd:element name="Logged_In_Advocates_Used" type="xsd:string" minOccurs="0" maxOccurs="1"/>
			<xsd:element name="Logged_In_Advocates_Aval" type="xsd:string" minOccurs="0" maxOccurs="1"/>
			<xsd:element name="Logged_In_Advcts_Sys_Lim" type="xsd:string" minOccurs="0" maxOccurs="1"/>
			<xsd:element name="Logged_In_IPSoft_Agt_Used" type="xsd:string" minOccurs="0" maxOccurs="1"/>
			<xsd:element name="Logged_In_IPSoft_Agt_Aval" type="xsd:string" minOccurs="0" maxOccurs="1"/>
			<xsd:element name="Lgn_IPSft_Agt_Sys_Lim" type="xsd:string" minOccurs="0" maxOccurs="1"/>
			<xsd:element name="Group_Members_Used" type="xsd:string" minOccurs="0" maxOccurs="1"/>
			<xsd:element name="Group_Members_Aval" type="xsd:string" minOccurs="0" maxOccurs="1"/>
			<xsd:element name="Group_Members_Sys_Limit" type="xsd:string" minOccurs="0" maxOccurs="1"/>
			<xsd:element name="CMSACD_Members_Used" type="xsd:string" minOccurs="0" maxOccurs="1"/>
			<xsd:element name="CMSACD_Members_Aval" type="xsd:string" minOccurs="0" maxOccurs="1"/>
			<xsd:element name="CMSACD_Mem_Sys_Limit" type="xsd:string" minOccurs="0" maxOccurs="1"/>
			<xsd:element name="Dynamic_Queue_Sl_Used" type="xsd:string" minOccurs="0" maxOccurs="1"/>
			<xsd:element name="Dynamic_Queue_Sl_Aval" type="xsd:string" minOccurs="0" maxOccurs="1"/>
			<xsd:element name="Dynamic_Quel_Sys_Lim" type="xsd:string" minOccurs="0" maxOccurs="1"/>
			<xsd:element name="Queue_Call_Stat_But_Used" type="xsd:string" minOccurs="0" maxOccurs="1"/>
			<xsd:element name="Queue_Call_Stat_But_Aval" type="xsd:string" minOccurs="0" maxOccurs="1"/>
			<xsd:element name="Queue_Call_Stat_But_Sys_Lim" type="xsd:string" minOccurs="0" maxOccurs="1"/>
			<xsd:element name="Intercom_Groups_Used" type="xsd:string" minOccurs="0" maxOccurs="1"/>
			<xsd:element name="Intercom_Groups_Aval" type="xsd:string" minOccurs="0" maxOccurs="1"/>
			<xsd:element name="Intercom_Grp_Sys_Lim" type="xsd:string" minOccurs="0" maxOccurs="1"/>
			<xsd:element name="Modem_Pool_Groups_Used" type="xsd:string" minOccurs="0" maxOccurs="1"/>
			<xsd:element name="Modem_Pool_Groups_Aval" type="xsd:string" minOccurs="0" maxOccurs="1"/>
			<xsd:element name="Modem_Pool_Grps_Sys_Lim" type="xsd:string" minOccurs="0" maxOccurs="1"/>
			<xsd:element name="PCOL_Trunk_Groups_Used" type="xsd:string" minOccurs="0" maxOccurs="1"/>
			<xsd:element name="PCOL_Trunk_Groups_Aval" type="xsd:string" minOccurs="0" maxOccurs="1"/>
			<xsd:element name="PCOL_Trn_Groups_Sys_Lim" type="xsd:string" minOccurs="0" maxOccurs="1"/>
			<xsd:element name="Analog_Queue_Slots_Used" type="xsd:string" minOccurs="0" maxOccurs="1"/>
			<xsd:element name="Analog_Queue_Slots_Aval" type="xsd:string" minOccurs="0" maxOccurs="1"/>
			<xsd:element name="Analog_Que_Slot_Sys_Lim" type="xsd:string" minOccurs="0" maxOccurs="1"/>
			<xsd:element name="Ext_Source_Combo_Used" type="xsd:string" minOccurs="0" maxOccurs="1"/>
			<xsd:element name="Ext_Source_Combo_Aval" type="xsd:string" minOccurs="0" maxOccurs="1"/>
			<xsd:element name="Ext_Src_Combo_Sys_Lim" type="xsd:string" minOccurs="0" maxOccurs="1"/>
			<xsd:element name="TN2501_VAL_Board_Used" type="xsd:string" minOccurs="0" maxOccurs="1"/>
			<xsd:element name="TN2501_VAL_Board_Aval" type="xsd:string" minOccurs="0" maxOccurs="1"/>
			<xsd:element name="TN2501_VAL_Board_Sys_Limit" type="xsd:string" minOccurs="0" maxOccurs="1"/>
			<xsd:element name="Media_Gate_vVAL_Used" type="xsd:string" minOccurs="0" maxOccurs="1"/>
			<xsd:element name="Media_Gate_vVAL_Aval" type="xsd:string" minOccurs="0" maxOccurs="1"/>
			<xsd:element name="Media_Gate_vVAL_Sys_Limit" type="xsd:string" minOccurs="0" maxOccurs="1"/>
			<xsd:element name="TN2602_B80_VOIP_Used" type="xsd:string" minOccurs="0" maxOccurs="1"/>
			<xsd:element name="TN2602_B80_VOIP_Aval" type="xsd:string" minOccurs="0" maxOccurs="1"/>
			<xsd:element name="TN2602_B80_VOIP_Sys_Limit" type="xsd:string" minOccurs="0" maxOccurs="1"/>
			<xsd:element name="TN2602_B320_VOIP_Used" type="xsd:string" minOccurs="0" maxOccurs="1"/>
			<xsd:element name="TN2602_B320_VOIP_Aval" type="xsd:string" minOccurs="0" maxOccurs="1"/>
			<xsd:element name="TN2602_B320_VOIP_Sys_Lim" type="xsd:string" minOccurs="0" maxOccurs="1"/>
			<xsd:element name="Admins_TSCs_Used" type="xsd:string" minOccurs="0" maxOccurs="1"/>
			<xsd:element name="Admins_TSCs_Aval" type="xsd:string" minOccurs="0" maxOccurs="1"/>
			<xsd:element name="Admins_TSCs_Sys_Limit" type="xsd:string" minOccurs="0" maxOccurs="1"/>
			<xsd:element name="NCATSC_Calls_Used" type="xsd:string" minOccurs="0" maxOccurs="1"/>
			<xsd:element name="NCATSC_Calls_Aval" type="xsd:string" minOccurs="0" maxOccurs="1"/>
			<xsd:element name="NCATSC_Calls_Sys_Limit" type="xsd:string" minOccurs="0" maxOccurs="1"/>
			<xsd:element name="DS1_Circuit_Packs_Used" type="xsd:string" minOccurs="0" maxOccurs="1"/>
			<xsd:element name="DS1_Circuit_Packs_Aval" type="xsd:string" minOccurs="0" maxOccurs="1"/>
			<xsd:element name="DS1_Crct_Pack_Sys_Lim" type="xsd:string" minOccurs="0" maxOccurs="1"/>
			<xsd:element name="DS1_with_Echo_Used" type="xsd:string" minOccurs="0" maxOccurs="1"/>
			<xsd:element name="DS1_with_Echo_Aval" type="xsd:string" minOccurs="0" maxOccurs="1"/>
			<xsd:element name="DS1_with_Echo_Sys_Limit" type="xsd:string" minOccurs="0" maxOccurs="1"/>
			<xsd:element name="ICHTIS_DNS_IP_Used" type="xsd:string" minOccurs="0" maxOccurs="1"/>
			<xsd:element name="ICHTIS_DNS_IP_Aval" type="xsd:string" minOccurs="0" maxOccurs="1"/>
			<xsd:element name="ICHTIS_DNS_IP_Sys_Limit" type="xsd:string" minOccurs="0" maxOccurs="1"/>
			<xsd:element name="ISDN_CBC_Service_Used" type="xsd:string" minOccurs="0" maxOccurs="1"/>
			<xsd:element name="ISDN_CBC_Service_Aval" type="xsd:string" minOccurs="0" maxOccurs="1"/>
			<xsd:element name="ISDN_CBC_ServSys_Lim" type="xsd:string" minOccurs="0" maxOccurs="1"/>
			<xsd:element name="Trunk_Groups_Used" type="xsd:string" minOccurs="0" maxOccurs="1"/>
			<xsd:element name="Trunk_Groups_Aval" type="xsd:string" minOccurs="0" maxOccurs="1"/>
			<xsd:element name="Trunk_Groups_Sys_Limit" type="xsd:string" minOccurs="0" maxOccurs="1"/>
			<xsd:element name="Trunk_Ports_Used" type="xsd:string" minOccurs="0" maxOccurs="1"/>
			<xsd:element name="Trunk_Ports_Aval" type="xsd:string" minOccurs="0" maxOccurs="1"/>
			<xsd:element name="Trunk_Ports_Sys_Limit" type="xsd:string" minOccurs="0" maxOccurs="1"/>
			<xsd:element name="H323_Trunks_Used" type="xsd:string" minOccurs="0" maxOccurs="1"/>
			<xsd:element name="H323_Trunks_Aval" type="xsd:string" minOccurs="0" maxOccurs="1"/>
			<xsd:element name="H323_Trunks_Sys_Limit" type="xsd:string" minOccurs="0" maxOccurs="1"/>
			<xsd:element name="Rem_Ofice_Trks_Used" type="xsd:string" minOccurs="0" maxOccurs="1"/>
			<xsd:element name="Rem_Ofice_Trks_Aval" type="xsd:string" minOccurs="0" maxOccurs="1"/>
			<xsd:element name="Rem_Ofice_Trk_Sys_Lim" type="xsd:string" minOccurs="0" maxOccurs="1"/>
			<xsd:element name="SBS_Trunks_Used" type="xsd:string" minOccurs="0" maxOccurs="1"/>
			<xsd:element name="SBS_Trunks_Aval" type="xsd:string" minOccurs="0" maxOccurs="1"/>
			<xsd:element name="SBS_Trunks_Sys_Limit" type="xsd:string" minOccurs="0" maxOccurs="1"/>
			<xsd:element name="SIP_Trunks_Used" type="xsd:string" minOccurs="0" maxOccurs="1"/>
			<xsd:element name="SIP_Trunks_Aval" type="xsd:string" minOccurs="0" maxOccurs="1"/>
			<xsd:element name="SIP_Trunks_Sys_Limit" type="xsd:string" minOccurs="0" maxOccurs="1"/>
			<xsd:element name="Station_But_Mem_Used" type="xsd:string" minOccurs="0" maxOccurs="1"/>
			<xsd:element name="Station_But_Mem_Aval" type="xsd:string" minOccurs="0" maxOccurs="1"/>
			<xsd:element name="Station_But_Mem_Sys_Limit" type="xsd:string" minOccurs="0" maxOccurs="1"/>
			<xsd:element name="Custom_But_Labels_Used" type="xsd:string" minOccurs="0" maxOccurs="1"/>
			<xsd:element name="Custom_But_Labels_Aval" type="xsd:string" minOccurs="0" maxOccurs="1"/>
			<xsd:element name="Custom_But_Labels_Sys_Lim" type="xsd:string" minOccurs="0" maxOccurs="1"/>
			<xsd:element name="Station_Records_Used" type="xsd:string" minOccurs="0" maxOccurs="1"/>
			<xsd:element name="Station_Records_Aval" type="xsd:string" minOccurs="0" maxOccurs="1"/>
			<xsd:element name="Station_Rec_Sys_Lim" type="xsd:string" minOccurs="0" maxOccurs="1"/>
			<xsd:element name="Station_Rec_TTI_Used" type="xsd:string" minOccurs="0" maxOccurs="1"/>
			<xsd:element name="Station_Rec_TTI_Shrd_Used" type="xsd:string" minOccurs="0" maxOccurs="1"/>
			<xsd:element name="BRI_Stations_Used" type="xsd:string" minOccurs="0" maxOccurs="1"/>
			<xsd:element name="Stations_With_Port_Used" type="xsd:string" minOccurs="0" maxOccurs="1"/>
			<xsd:element name="Stations_WOut_Port_Used" type="xsd:string" minOccurs="0" maxOccurs="1"/>
			<xsd:element name="Other_Stations_Used" type="xsd:string" minOccurs="0" maxOccurs="1"/>
			<xsd:element name="TTI_Ports_Used" type="xsd:string" minOccurs="0" maxOccurs="1"/>
			<xsd:element name="Auto_Move_Stations_Used" type="xsd:string" minOccurs="0" maxOccurs="1"/>
			<xsd:element name="Auto_Move_Stations_Aval" type="xsd:string" minOccurs="0" maxOccurs="1"/>
			<xsd:element name="Auto_Mve_Station_Sys_Lim" type="xsd:string" minOccurs="0" maxOccurs="1"/>
			<xsd:element name="Adm_IPSoft_Phone_Used" type="xsd:string" minOccurs="0" maxOccurs="1"/>
			<xsd:element name="Video_H323_Stat_Used" type="xsd:string" minOccurs="0" maxOccurs="1"/>
			<xsd:element name="Video_H323_Stat_Aval" type="xsd:string" minOccurs="0" maxOccurs="1"/>
			<xsd:element name="Vid_H323_Sta_Sys_Lim" type="xsd:string" minOccurs="0" maxOccurs="1"/>
			<xsd:element name="Video_IPSoftphones_Used" type="xsd:string" minOccurs="0" maxOccurs="1"/>
			<xsd:element name="Video_IPSoftphones_Aval" type="xsd:string" minOccurs="0" maxOccurs="1"/>
			<xsd:element name="Vid_IPSft_Ph_Sys_Lim" type="xsd:string" minOccurs="0" maxOccurs="1"/>
			<xsd:element name="ISDN_BRI_End_Trk_Port_Usd" type="xsd:string" minOccurs="0" maxOccurs="1"/>
			<xsd:element name="ISDN_BRI_End_Trk_Port_Aval" type="xsd:string" minOccurs="0" maxOccurs="1"/>
			<xsd:element name="ISDN_BRI_End_Trunk_Port_Sys_Lim" type="xsd:string" minOccurs="0" maxOccurs="1"/>
			<xsd:element name="Station_Trk_Ports_Used" type="xsd:string" minOccurs="0" maxOccurs="1"/>
			<xsd:element name="Station_Trk_Ports_Aval" type="xsd:string" minOccurs="0" maxOccurs="1"/>
			<xsd:element name="Station_Trk_Prt_Sys_Lim" type="xsd:string" minOccurs="0" maxOccurs="1"/>
			<xsd:element name="Station_Capacity_Used" type="xsd:string" minOccurs="0" maxOccurs="1"/>
			<xsd:element name="Station_Capacity_Aval" type="xsd:string" minOccurs="0" maxOccurs="1"/>
			<xsd:element name="Station_Capacity_Sys_Limit" type="xsd:string" minOccurs="0" maxOccurs="1"/>
			<xsd:element name="SBS_Stations_Used" type="xsd:string" minOccurs="0" maxOccurs="1"/>
			<xsd:element name="SBS_Stations_Aval" type="xsd:string" minOccurs="0" maxOccurs="1"/>
			<xsd:element name="SBS_Stations_Sys_Limit" type="xsd:string" minOccurs="0" maxOccurs="1"/>
			<xsd:element name="Radio_Controllers_Used" type="xsd:string" minOccurs="0" maxOccurs="1"/>
			<xsd:element name="Radio_Controllers_Aval" type="xsd:string" minOccurs="0" maxOccurs="1"/>
			<xsd:element name="Radio_Ctrlr_Sys_Lim" type="xsd:string" minOccurs="0" maxOccurs="1"/>
			<xsd:element name="Wireless_Terminals_Used" type="xsd:string" minOccurs="0" maxOccurs="1"/>
			<xsd:element name="Wireless_Terminals_Aval" type="xsd:string" minOccurs="0" maxOccurs="1"/>
			<xsd:element name="Wireless_Terml_Sys_Lim" type="xsd:string" minOccurs="0" maxOccurs="1"/>
			<xsd:element name="XMobile_Stations_Used" type="xsd:string" minOccurs="0" maxOccurs="1"/>
			<xsd:element name="XMobile_Stations_Aval" type="xsd:string" minOccurs="0" maxOccurs="1"/>
			<xsd:element name="XMobile_Sta_Sys_Lim" type="xsd:string" minOccurs="0" maxOccurs="1"/>
			<xsd:element name="EC500_Used" type="xsd:string" minOccurs="0" maxOccurs="1"/>
			<xsd:element name="DECT_Used" type="xsd:string" minOccurs="0" maxOccurs="1"/>
			<xsd:element name="PHS_Used" type="xsd:string" minOccurs="0" maxOccurs="1"/>
			<xsd:element name="OffPBX_EC500_Used" type="xsd:string" minOccurs="0" maxOccurs="1"/>
			<xsd:element name="OffPBX_EC500_Aval" type="xsd:string" minOccurs="0" maxOccurs="1"/>
			<xsd:element name="OffPBX_EC500_Sys_Limit" type="xsd:string" minOccurs="0" maxOccurs="1"/>
			<xsd:element name="OffPBX_OPS_Used" type="xsd:string" minOccurs="0" maxOccurs="1"/>
			<xsd:element name="OffPBX_OPS_Aval" type="xsd:string" minOccurs="0" maxOccurs="1"/>
			<xsd:element name="OffPBX_OPS_Sys_Limit" type="xsd:string" minOccurs="0" maxOccurs="1"/>
			<xsd:element name="OffPBX_SCCAN_Used" type="xsd:string" minOccurs="0" maxOccurs="1"/>
			<xsd:element name="OffPBX_SCCAN_Aval" type="xsd:string" minOccurs="0" maxOccurs="1"/>
			<xsd:element name="OffPBX_SCCAN_Sys_Limit" type="xsd:string" minOccurs="0" maxOccurs="1"/>
			<xsd:element name="OffPBX_Memory_Used" type="xsd:string" minOccurs="0" maxOccurs="1"/>
			<xsd:element name="OffPBX_Memory_Aval" type="xsd:string" minOccurs="0" maxOccurs="1"/>
			<xsd:element name="OffPBX_Memory_Sys_Limit" type="xsd:string" minOccurs="0" maxOccurs="1"/>
			<xsd:element name="IP_Stations_Used" type="xsd:string" minOccurs="0" maxOccurs="1"/>
			<xsd:element name="IP_Stations_Aval" type="xsd:string" minOccurs="0" maxOccurs="1"/>
			<xsd:element name="IP_Stations_Sys_Limit" type="xsd:string" minOccurs="0" maxOccurs="1"/>
			<xsd:element name="IP_Stationsin_TTI_Used" type="xsd:string" minOccurs="0" maxOccurs="1"/>
			<xsd:element name="IP_Attendant_Cons_Used" type="xsd:string" minOccurs="0" maxOccurs="1"/>
			<xsd:element name="IP_Attendant_Cons_Aval" type="xsd:string" minOccurs="0" maxOccurs="1"/>
			<xsd:element name="IP_Atdt_Cons_Sys_Lim" type="xsd:string" minOccurs="0" maxOccurs="1"/>
			<xsd:element name="Remote_Offic_Stat_Used" type="xsd:string" minOccurs="0" maxOccurs="1"/>
			<xsd:element name="Remote_Offic_Stat_Aval" type="xsd:string" minOccurs="0" maxOccurs="1"/>
			<xsd:element name="Remote_OffcS_tat_Sys_Lim" type="xsd:string" minOccurs="0" maxOccurs="1"/>
			<xsd:element name="UnAuth_H323_Stat_Used" type="xsd:string" minOccurs="0" maxOccurs="1"/>
			<xsd:element name="UnAuth_H323_Sta_Ava" type="xsd:string" minOccurs="0" maxOccurs="1"/>
			<xsd:element name="UnAuth_H323_Stat_Sys_Lim" type="xsd:string" minOccurs="0" maxOccurs="1"/>
			<xsd:element name="Software_Load" type="xsd:string" minOccurs="0" maxOccurs="1"/>
			<xsd:element name="Memory_Configuration" type="xsd:string" minOccurs="0" maxOccurs="1"/>
			<xsd:element name="Offer_Catagory" type="xsd:string" minOccurs="0" maxOccurs="1"/>
			<xsd:element name="Last_Software_Load" type="xsd:string" minOccurs="0" maxOccurs="1"/>
			<xsd:element name="Last_Memory_Config" type="xsd:string" minOccurs="0" maxOccurs="1"/>
			<xsd:element name="Last_Offer_Catagory" type="xsd:string" minOccurs="0" maxOccurs="1"/>
			<xsd:group ref="CapacityArrayGroup"/>
		</xsd:sequence>
	</xsd:complexType>
</xsd:schema>
